@page "/"

<h1>Hello, world!</h1>

Welcome to your new app.

<SurveyPrompt Title="How is Blazor working for you?" />
<h2>What I've learned today</h2>
<ul>
    <li>In exercise 1, I created my GitHub account, set up my machine, and forked this repository.</li>
    <li>In exercise 2, I deployed two web apps to Azure, then deployed to one of them using the Deployment Center's external Git option.</li>
    <li>In exercise 3, I deployed to the other app service using the Deployment Center's connected git and GitHub Actions.  I also learned a bit about GitHub actions</li>
    <li>In exercise 4, I learned about working with projects and issues for application lifecycle management at GitHub.</li>
</ul>
